
.main-wrapper {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}


.inner-wrapper {
  max-width: 1000px;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 3em;
  display: grid;
  place-items: center;
  grid-gap: 38px 38px;
  grid-template-columns: repeat(auto-fit,minmax(200px, 1fr));
}


.search-bar {
  display: block;
  width: 450px;
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
  padding: 13px 10px 13px 10px;
  border: solid 2px lightgrey;
  border-radius: 5px;
  font-size: 1em;
}

input:focus {
  outline: none;
  border: 1px solid grey;
}

span p {
  display: none;
}

footer {
  max-width: 1000px;
  width: 90%;
  margin: 0 auto;
}

footer p {
  font-family: 'Alegreya', serif;
  font-size: 1.4em;
  color: grey;
  text-align: center;
  margin-bottom: 1.3em;
}
